.App {
  text-align: center;
}
:root {
  --cell-size: 35px;
}
.cell:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}
.row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}
.cell, .active, .flagged, .lossUncover {
  user-select: none;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.01s;

  width: var(--cell-size);
  height: var(--cell-size);
  color: transparent;
}
.active {
  background-color: blue;
  color: white;
}
.flagged {
  color: red;
  background-color: red;
}
.cell {
  background-color: gray;
}
.test {
  border: black solid 2px;
  margin: 0;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Login-Screen {
  border: #c2c2c2 solid 2px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.TopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--cell-size) * 28);

}
.newGamebtn {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  padding: 6px;
  border: none;
  border: black solid 2px;
  border-radius: 5px;
  background-color: rgb(75, 120, 169);
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}
.newGamebtn:hover {
  background-color: rgb(118, 149, 182);
}
.lossUncover {
  border: rgb(55, 55, 55) solid 2px;
  background-color: black;
}